@import "base";
@import "mixin";
@import "varriables";

.blue-text {
    color: #05818a;
}

#hero-section {

    width: 100%;
    height: 100vh;

    position: relative;
    // background-color: red;

    .slider-container {
        height: 100%;

        .slider-cell {
            max-width: 100vw;
            width: 100%;
            max-height: 100vh;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .background-image {
                // img{
                //     // object-fit: cover;
                // }
                @media (max-width: 1080px) {
                    img {
                        height: 100vh;
                        width: 100vw;
                        object-fit: cover;
                        object-position: left;
                    }
                }
            }

            .slider-caption {
                // margin: 0 auto;
                font-family: $font-main;
                max-width: 835px;
                color: #fff;
                font-size: 26px;
                line-height: 44px;
                letter-spacing: .02em;
                position: absolute;
                z-index: 5;

                @media screen and (max-width:1080px) {
                    padding: 0 30px;
                    font-size: 25px;
                    line-height: 1.7;
                    // color: red;
                }

                @media screen and (max-width:767px) {
                    // color: blue;
                    font-size: 20px;
                }


            }

            &::before{
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: 2;
                background: linear-gradient(0deg,rgba(89,95,112,.25),rgba(89,95,112,.25));
            }

            @media (max-width: 1080px) {
                height: auto;
            }

            @media (max-width: 767px) {
                // width: auto;
            }
        }
    }

    @media (max-width: 640px) {
        height: 100vh;
    }


}


// Slider Items Custom CSS
.flickity-button {
    position: absolute;
    background: rgba(255, 255, 255, 0);

    &:hover {
        background: rgba(255, 255, 255, 0);
    }
}

.flickity-prev-next-button.next {
    top: unset;
    bottom: 30px;
    right: 60px;
}

.flickity-prev-next-button.previous {
    top: unset;
    bottom: 30px;
    left: unset;
    right: 120px;

}

.flickity-prev-next-button {
    border: 1px #b5b5b5 solid;
    width: 40px;
    height: 40px;

    .flickity-button-icon {
        width: 45%;
        height: 50%;
        top: 25%;
        left: 25%;

    }
}

.flickity-button-icon {
    fill: #fff;
}


// Parallax Section CSS
#parallax{
    
    height: 100%;
    
    @media screen and (max-width:767px) {
        height: auto;
    }
    .container{
        display: flex;
        align-items: center;
        padding: 150px 0px;

        @media screen and (max-width:1080px) {
            max-width: 700px;
            padding: 0 30px;
        }
    
        @media screen and (max-width:767px) {
            max-width: 100vw;
            width: 100%;
            padding: 60px 30px;
            display: flex;
            flex-direction: column-reverse !important;
            box-sizing: border-box;
        }
    }

    .content {
        
        width: 480px;
        margin-right: 74px;
    

        @media screen and (max-width:1080px) {
            width: 50%;
            margin-right: 45px;
        }

        @media screen and (max-width:767px) {
            width: 100%;
            margin: 0;
        }

        .content-title {
            font-family: $font-main;
            font-size: 50px;
            font-weight: 500;
            font-style: normal;
            line-height: 65px;
            color: $title-color;
    
            
            @media screen and (max-width:1080px) {
                font-size: 40px;
                line-height: 45px;
            }
        }
    
        .description {
            font-family: $font-main;
            text-align: justify;
            color: $description-color;
            line-height: 25px;
            font-size: 13px;
            margin-bottom: 50px;  
            
            @media screen and (max-width:1080px) {
                margin-bottom: 30px;
                font-size: 14px;
            }
        }
        .more-btn{
            font-family: 'Barlow', sans-serif;
            font-weight: 600;
            font-size: 13px;
            text-decoration: none;
            color: $title-color;
            
            .arrow{
                transition: all .3s ease;
                padding-left: 10px;
                
            }
            &:hover{
                color: $brand-color;
                
                .arrow{
                    padding-left: 15px;
                    svg{
                        path{
                            fill: $brand-color;
                        }
                    }
                }
            }

            
        }

        
    }
    
    .image {
        width: 696px;
        position: relative;
    
        .img-1 {
            width: 503px;
            height: 596px;
            position: relative;
            right: -83px;
            
            @media screen and (max-width:1080px) {
                height: auto;
                width: 260px;
                right: -65px;
            }
            @include breakpoint(767px){

                height: auto;
                width: 100%;
                padding-left: 70px;
                box-sizing: border-box;
                right: 0;
            }
        }
    
        .img-2 {
            width: 280px;
            height: 336px;
            position: absolute;
            bottom: -38px;
            left: 0;
            filter: drop-shadow(0px 0px 70px rgba(0, 0, 0, 0.25));
            will-change: filter;

            @media screen and (max-width:1080px) {
                height: auto;
                width: 160px;
                right: 0px;
            }

            @include breakpoint(767px){
                height: auto;
                width: auto;
                max-width: 200px;
            }
        }
        

        @include breakpoint(1080px){
            width: 50%;
            // margin: 30px;
        }
        @include breakpoint(767px){
            width: 100%; 
            
            margin-bottom: 90px; 
        }
    }

    
}

// Quote Section CSS
#quote{
    padding: 90px 0;

    @include breakpoint(767px){
        padding: 30px 0;
    }
    .container{

        @include breakpoint(1080px){
            padding: 0 30px;
            box-sizing: border-box;
        }
    }
    .quote-contents{
        .quote-title{
            font-family: $font-main;
            font-size: 50px;
            font-weight: 600;
            color: $title-color;
            line-height: 130%;

            @include breakpoint(1080px){
                font-size: 40px;
            }
        }
    
        .quote-bodytext{
            font-family: $font-main;
            font-size: 13px;
            font-weight: 400;
            color: $description-color;
            line-height: 25px;
            margin-bottom: 57px;

            @include breakpoint(767px){
                margin-bottom: 40px;
            }
        }

        .signature{
            display: flex;
            align-items: center;

            .sign{
                border-right: 1px solid $title-color;
                padding: 15px 33px 15px 0;

                img{
                    
                    @include breakpoint(767px){
                        width: 133px;
                    }
                }
            }

            .quote-name{
                padding-left: 33px;

                @include breakpoint(767px){
                    padding-left: 30px;
                }
                .name{
                    font-family: $font-main;
                    font-weight: 600;
                    line-height: 1.5;
                    margin-bottom: -15px;
                    padding: 0;

                    @include breakpoint(767px){
                        font-size: 18px;
                    }
                }
                .designation{
                    font-family: $font-main;
                    font-size: 20px;
                    font-weight: 600;
                    color: $title-color;
                    line-height: 1.5;

                    @include breakpoint(767px){
                        font-size: 18px;
                            line-height: 1.5;
                    }
                }
            }
        }
    }
    
}