@import "base";
@import "varriables";

.content {
    margin: auto;
    width: 480px;
    margin-right: 74px;

    .content-title {
        font-family: $font-main;
        font-size: 50px;
        font-weight: 500;
        font-style: normal;
        size: 50px;
        line-height: 65px;
        color: $title-color;

        &:hover{
            background-color: aqua;
        }

        .blue-text {
            color: #888a05;
        }
    }

    .description {
        font-family: $font-main;
        text-align: justify;
        color: $description-color;
        line-height: 25px;
        font-size: 13px;
        margin-bottom: 50px;       
    }
    .more-btn{
        font-family: 'Barlow', sans-serif;
        font-weight: 600;
        font-size: 13px;
    }
}

.image {
    width: 696px;
    position: relative;

    .img-1 {
        width: 503px;
        height: 596px;
        position: relative;
        right: -83px;
    }

    .img-2 {
        width: 280px;
        height: 336px;
        position: absolute;
        bottom: -38px;
        left: 0;
        filter: drop-shadow(0px 0px 70px rgba(0, 0, 0, 0.25));
        will-change: filter;
    }
}